* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}


header {
  width: 100%;
  background-color: #191531;
  padding: 10px;
  color: #fff;
  text-align: center;
}

main {
  background-color: #191531;
  flex-direction: column;
  text-align: center;
}

textarea {
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 15px;
}

button {
  width: 90%;
  height: 45px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 75px;
}

p {
  background-color: #191531;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 2rem;
}